<app-nav></app-nav>
<div class="container">
    <br>
    <h3 class="text-center">Product Details</h3><br>
    <div class="row">
        <div class="col-md-6 text-center" style="border-style:solid;
        border-width:thin; border-color:black;">
            <img src="{{proData.img}}" style="height:300px;">
        </div>
        <div class="col-md-6" style="border-style:solid;
        border-width:thin; border-color:black;">
            <h5 style="margin-top:5px;">Name: &nbsp;{{proData.name}}</h5>
            <p style="margin-top:20px;">Price: &nbsp;{{proData.price}}</p>
            <p style="margin-top:20px;">Quantity: &nbsp;{{proData.quantity}}</p>
            <p style="margin-top:20px;">Category: &nbsp;{{proData.category}}</p>
            <p style="margin-top:20px;">Description: &nbsp;{{proData.description}}</p>
        </div>
    </div>
</div>
